#about-me{
	padding: 120px 0;
}

#about-me .my-pic{
	padding-right: 50px;
}

#about-me img{
	width: 100%;
	border-radius: 8px;
}
#about-me h2{
	padding-left: 50px;
	padding-bottom: 14px;
	font-size: 28px;
}

#about-me p{
	padding-left: 50px;
	font-size: 22px;
}

.about-me-left-open{
	animation: left-open .8s forwards ease-in-out;
}

@media(max-width: 1025px){
	#about-me h2,
	#about-me p{
		padding-left: 30px;
	}
	#about-me p{
		font-size: 20px;
	}
	#about-me h2{
		padding-bottom: 4px;
	}
	#about-me .my-pic{
		padding-right: 30px;
	}
	@media(max-width: 769px){
		#about-me .my-pic{
			display: none;			
		}
		#about-me{
			text-align: center;
			padding: 80px 0;
		}
		#about-me h2{
			font-size: 2rem;
			padding-bottom: 20px;
		}
		#about-me br{
			display: none;
		}
		#about-me br:first-child{
			display: block;
		}
		#about-me p{
			padding: 0;
		}
	}
	@media(max-width: 500px){
		#about-me p{
			text-align: justify;
		}
		#about-me h2{
			padding-left: 0;
		}
	}
}