*{
	font-family: 'Rajdhani';
}
*:focus{
	outline: none;
}

html,
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	overflow-x: hidden;
}

a,
a:hover{
	text-decoration: none !important;
}

.main{
	padding: 0 !important;
	height: 100%;
}

.content{
	max-width: 1200px;
	margin: auto !important;
	display: block;
	padding: 0 30px;
}

@media(max-width: 568px){
	.content{
		padding: 0 15px;
	}
}

@keyframes middle-open{
	0%{
		opacity: 1;
		-webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
		clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
	}
	100%{
		opacity: 1;
		-webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
		clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
	}
}

@keyframes bottom-open{
	0%{
		opacity: 1;
		transform: translateY(-100%);
		-webkit-clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%);
		clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%);
	}
	100%{
		opacity: 1;
		transform: translateY(0%);
		-webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
		clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
	}
}

@keyframes bottom-close{
	0%{
		opacity: 1;
		transform: translateY(0%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
	100%{
		opacity: 1;
		transform: translateY(-100%);
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	}
}

@keyframes top-open{
	0%{
		opacity: 1;
		transform: translateY(100%);
		-webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
		clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
	}
	100%{
		opacity: 1;
		transform: translateY(0%);
		-webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
		clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
	}
}

@keyframes top-close{
	0%{
		opacity: 1;
		transform: translateY(0%);
		-webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
		clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
	}
	100%{
		opacity: 1;
		transform: translateY(0%);
		-webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
		clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
	}
}